<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Todo tasks</h1>
    <form method="post">
        <label>
            Title <input type="text" name="title" />
        </label>
        <label>
            Body <input type="text" name="body" />
        </label>
        <label>
            Status <input type="text" name="status" />
        </label>
        <label>
            Due date <input type="text" name="dueDate" />
        </label>
        <input type="submit"/>
    </form>
    <table>
        <tr>
            <th>Task title</th>
            <th>Task</th>
            <th>Status</th>
            <th>Due date</th>
            <th colspan="3">Change status</th>
            <th>Delete</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.body }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.dueDate }}</td>
                <td><a href="">Open</a></td>
                <td><a href="">In Progress</a></td>
                <td><a href="">Closed</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>