<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Todo tasks</h1>
    <a href="/register">Register</a>
    <form method="post" enctype="multipart/form-data">
        <label>
            Username <input type="text" name="username" />
        </label>
        <label>
            Password <input type="text" name="password" />
        </label>
    
        <input type="submit"/>
    </form>

</body>
</html>