<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Register</h1>
    <a href="/">Home page</a>
    <form method="post" enctype="multipart/form-data">
        <label for="username">username</label>
        <input type="text" name="username" id="username" />

        <label for="password">password</label>
        <input type="password" name="password" />

        <button type="submit">Register</button>
    </form>
</body>
</html>